<!-- Email Header : BEGIN -->
<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
    <tr>
        <td style="padding: 20px 0; text-align: center"><img src="https://res.cloudinary.com/n12-mx/image/upload/v1585262876/BeCards/campaign/hero_top.png" width="200" height="50" alt="alt_text" border="0"></td>
    </tr>
</table>
<!-- Email Header : END -->